// $font-primary: 
$font-primary: Arial, Helvetica, sans-serif;
$font-footer: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$color-primary: #0088BC;
$color-red: #EF576C;

//          globals

body{
    font-family: $font-primary;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    *{
        overflow-y: hidden;
        overflow-x: hidden;
    }

    // overflow-x: hidden;
}
.lock-scroll{
    overflow-y: hidden;
}
button{
    font-family: $font-primary;
}
html{
    scroll-behavior: smooth;
    
}
.header{
    height: 40vh;
    background-image: URL("/images/header-about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1000px rgba(0, 136, 188, 0.5);

}

.main{
    display: grid;
    grid-template-areas: "img text";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
    box-shadow: 0px 10px 35px 0px rgba(143,143,143,0.75);
    -webkit-box-shadow: 0px 10px 35px 0px rgba(143,143,143,0.75);
    -moz-box-shadow: 0px 10px 35px 0px rgba(143,143,143,0.75);
    width: calc(min(90vw,950px));
    
    color: darken($color-primary, 15%);
    margin: 0 auto;
    background-color: white;
    margin-top: -150px;
    font-size: 1.25rem;
    .text{
        padding: 3rem 8% 3rem 8%;
        box-sizing: border-box;
        text-align: left;
    }
    h1:after{
        width: 110% !important;
        margin-left: -5%;
    }
}


.heading{
    margin-top: 5rem;
    font-size: 2.25rem;
    color: darken($color-primary,10%);
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 0;
    
    &:after{
        content:'';
        display: block;
        margin-inline: auto;
        background-color: $color-primary;
        width: 40%;
        height: 7px;
        border-radius: 5px;
    }

}
.logo{
    width: 80px;
    height: 80px;
}
.book{
    height: 50%;
    background-color: white;
    color: $color-primary;
    font-weight: 700;
    font-size: 1.35rem;
    border-radius: 25px;
    border-color: transparent;
    box-sizing: border-box;
    padding: 1rem;
    cursor: pointer;
}
.pcr-test{
    position: relative;
    font-size: 1rem;
    margin-top: 0rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-color: transparent;
    background-color: $color-red;
    font: $font-primary;
    color: white;
    font-weight: 700;
    z-index: 1;
    
}
#submit{
    width: 40% !important;
    margin-bottom: 30px;
    background-color: $color-red;
    border-color: transparent;
    font-family: $font-primary;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
}
#msg{
    height: 150px;
}
.nav-links{
    color: white;
    text-decoration: none;
}

.learn-more{
    background-color: transparent;
    color: darken($color-primary, 10%);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    &:after{
        display: block;
        content: '';
        width: 125px;
        height: 5px;
        background-color: $color-primary;
        border-radius: 25px;
        margin-top: -3px;
    }
}
.learn-more:hover{
    color: $color-primary;
    cursor: pointer;
}
.img{
    grid-area: img;
    background-image: URL("/images/about-us.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    grid-area: text;
    // width: 40vw;
    box-sizing: border-box;
    margin-inline: auto;
    margin: auto auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}

.menu{
    margin-left: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #0088BC;
    color: white;
    font-weight: 600;
    font-size: 1.15rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nav-item {
    margin-left: 2rem;
}
.nav-item:hover{
    text-decoration: underline;
}


.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 1162px) {
    .nav-menu {
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        position: fixed;
        left: -100vw;
        top: 5rem;
        flex-direction: column;
        background-color: $color-primary;
        color: white;
        width: 98vw;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.75rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active{
        overflow-y: hidden;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .a-book{
        display: flex;
        align-items: center;
    }

}


// footer
footer{
    background-color: darken($color-primary,10%);
    font-family: $font-footer;
    color: hsl(209, 100%, 92%);
    font-weight: 500;
    text-align: center;
}
.footer-contents{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 2rem;
        font-size: 1.15rem;
        max-width: 15rem;
    }
}
.address{
    padding-bottom: 2rem;
    font-size: 1.15rem;
}
.rights{
    background-color: darken($color-primary, 15%);
    color: hsl(209, 33%, 69%);
    height: 40px;
    text-align: center;
    p{
        transform: translateY(50%);
        margin: 0;
    }
}

//          Home Page

// Header
header{
    margin: 0;
    box-sizing: border-box;
    background-image: URL("/images/successful-medical-team.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: darken($color-primary,20%);
    outline: 2px solid $color-primary;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    min-height: fit-content;

    h3{
        font-weight: 500;
        margin: 0;
        font-size: clamp(1.25rem,3vw,1.75rem);
    }
    p{
        font-weight: 800;
        font-size: clamp(2rem,3vw,3rem);
        margin: 0;
    }
    div{
        background-color: rgba(255, 255, 255, 0.8);
        width: 55%;
        padding: 4rem;
        display: block;
        min-height: fit-content;
        box-sizing: border-box;
    }
}


.info{
    background-color: white;
    line-height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 2px solid $color-primary;
    a{
        text-decoration: none;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
        }
    }
    a, h3{
        display: inline-block;
        vertical-align: baseline;
        color: $color-primary;
        font-size: 1.25rem; 
    }
    div{
        padding: 1rem;
        display: flex;
        *{
            margin: 5px;
        }
    }
}

.about-us{
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    max-width: 100%;
    // min-height: 50vh;
    border-bottom: 2px solid $color-primary;
    margin-bottom: -2px;
    font-size: 1.25rem;

    h2{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        &:after{
            min-width: 100%;
            // margin-left: %;
        }
    }
    p{
        font-size: 1.25rem;
        color: darken($color-primary,10%);
    }
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 0 4rem 0;
    box-sizing: border-box;
    font-size: 1.25rem;
    width: 100%;
    .services-content{
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // margin-top: -30px;
    }
    .services-content div{
        box-sizing: border-box;
        color: $color-primary;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // margin-top: 30px;
        outline: 1px solid $color-primary;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2rem 0 2rem 0;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
    }
    border-bottom: 2px solid $color-primary;
}

.how-works{
    padding: 3rem 0 0 0;
    border-bottom: 2px solid $color-primary;
    padding-bottom: 2rem;
    p{
        border: 3px solid $color-primary;
        border-radius:  25px;
        font-size: 1.5rem;
        width: 90%;
        margin-inline: auto;
        color: darken($color-primary,5%);
        padding: 1rem;
        font-weight: 600;
        text-align: center;
        
    }
    span{
        font-size: 2rem;
        color: darken($color-primary,10%);

    }
}

.steps{
    margin-top: 0;
    background-color: $color-primary;
    h2{
        font-size: 1.25rem;
        text-align: center;
        color: white;
    }
    div + div{
        border-left: 1px solid rgba(255, 255, 255, 0.712);
    }
    i{
        color: white;
    }
}
.covid{
    width: 100%;
    // height: 80vh;
    background-image: URL("/images/pcr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid $color-primary;
    font-size: 1.25rem;
    div{
        width: 45%;
        margin-left: 5%;
        margin: 10rem 0;
        padding: 2rem 0 2rem 0;
        background-color: rgba(255, 255, 255, 0.8);

    }
    h2{
        font-size: 2rem;
        &:after{
            width: 80%;
        }
    }
    h1{
        margin-inline: auto;
        width: fit-content;
        font-size: 2rem;
        color: $color-primary;
        
    }
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form submit-img";
    
    div{
        margin: 0;
        padding: 0;
    }
    h2{
        color: white;
        text-align: center;
        font-size: 2rem;
    }
    .input-field{
        grid-area: form;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $color-primary;
        > *{
            width: 80%;
        }
    }
    .submit-img{
        grid-area: submit-img;
        box-sizing: border-box;
        box-shadow: inset 0 0 0 1000px rgba(0, 136, 188, 0.3);
        background-image: URL("/images/submit1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    input[type=text]{
        line-height: 2.25rem;
        padding-left: 1rem;
        border-color: transparent;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 1.25rem;
        color: hsl(230, 21%, 27%);

        :hover{
            outline-color: transparent;
        }
    }
    input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: $color-primary;
        opacity: 0.7; /* Firefox */
      }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: $color-primary;
        opacity: 0.7; /* Firefox */
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 1.25;
        color: $color-primary;
        opacity: 0.7; /* Firefox */
    }
    * >*{
        margin-top: 20px;
    }

}


i{
    color: darken($color-primary,10%);
}

// hover states

.phone:hover{
    background-color: white;
    border-color: $color-primary;
    color: $color-primary;
    svg{
        fill: $color-primary;
    }
}
.book:hover{
    background-color: $color-primary;
    border: 2px solid white;
    color: white;
}

.pcr-test:hover, #submit:hover{
    background-color: darken($color-red, 10%);
    cursor: pointer;
}


//             About Us


.m-v{
    width: calc(min(90vw,950px));
    color: darken($color-primary,10%);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2{
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
        text-decoration: underline;
    }
    div{
        box-sizing: border-box;
        text-align: justify;
        background-color: white;
        font-size: 1.15rem;
        padding: 3rem;
        width: 40%;
        margin-bottom: 2rem;
        box-shadow: 0px 10px 35px 0px rgba(143,143,143,0.75);
        -webkit-box-shadow: 0px 10px 35px 0px rgba(143,143,143,0.75);
        -moz-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.75);

    }
}

//          Physiotherapy

.phy{
    margin-bottom: 4rem;
    .img{
        background-image: url("/images/physiotherapy.jpg");
        box-shadow: inset 0 0 0 1000px rgba(0, 136, 188, 0.4);
    }
    
}


//          doctor-on-call

.doctor{
    margin-bottom: 4rem;
    .img{
        background-image: url("/images/doctor.jpg");
        box-shadow: inset 0 0 0 1000px rgba(0, 136, 188, 0.4);
    }
}


//          Contact us

.contact{
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 4rem;
    i{
        margin-bottom: 1rem;
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
    }
    > div{
        padding: 3rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        // justify-content: space-around;
        flex-direction: column;
    }
    > * + *{
        border-left:1px solid #0087bc9f;
    }
}


//          careers

.careers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-primary;
    color: white;
    padding: 2rem 4rem 2rem 4rem;
    text-align: center;
    margin-bottom: 4rem;
    h1{
        margin-bottom: 0;
    }
    form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        * + *{
            margin-top: 1rem;
        }
    }
    input{
        width: 90%;
        line-height: 2rem;
        padding-left: 1rem;
        border-color: transparent;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 1rem;
        color: hsl(230, 21%, 27%);
    }
}

// mobile design

@media all and (max-width: 700px){
    header{
        height: 50vh;
        div{
            width: 80%;
            margin-inline: auto;
            padding-inline: 1rem;
        }
    }
    .about-us{
        grid-template-areas: "text" "img";
        grid-template-rows: 1fr 1fr;
        .text, .img{
            width: 100vw;
        }
        h2::after{
            width: 40vw;
            margin-inline: auto;
        }
    }
    .book{
        margin-inline: 0;
    }
    nav{
        a{
        margin-right: 0;
        }
        nav * + *{
            margin-left: 1rem;
            margin-right: 0;
        }
        .phone{
            display: none;
        }
    }
    .covid{
        div{
            margin: 4rem 0;
            width: 80%;
        }
    }

    .contact-form{
        flex-direction: column;
        grid-template-areas: "form" "submit-img";
        grid-template-rows: 1fr 1fr;
        > *{
            width: 100vw;
        }
    }
    .footer-contents{
        flex-direction: column;
        height: auto;
        img{
            margin-top: 1.5rem;
        }
        div{
            margin-top: 2rem;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .address{
        margin-top: 2rem;
    }
    .rights{
        display: none;
    }


    // main divs of all pages

    .main{
        width: 98%;
        grid-template-areas: "img" "text";
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
    }
    .m-v{
        flex-direction: column;
        width: 100%;
        div{
            width: 80%;
        }
    }

    //      Contact us

    .contact{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        > * + *{
            border-top: 1px solid #0087bc9f;
        }
    }

    .steps{
        > * + *{
            border-top: 1px solid rgba(255, 255, 255, 0.815);
        }
    }

}




